[user]
    name = Q
    email = quintonparker@gmail.com
[github]
    user = quintonparker@gmail.com
[color]
    status = auto
    branch = auto
    interactive = auto
    diff = auto
    ui = true
[alias]
    co = checkout
    ci = commit --verbose
    rhh = reset HEAD --hard
[core]
    excludesfile = ~/.gitignore_global
    editor = /usr/bin/vim
[difftool]
    prompt = false
[merge]
    tool = vimdiff
[credential]
    helper = osxkeychain
[push]
    default = simple
[pull]
    rebase = preserve
