[user]
    name = Q
    email = quintonparker@gmail.com
[github]
    user = quintonparker@gmail.com
[color]
    status = auto
    branch = auto
    interactive = auto
    diff = auto
    ui = true
[alias]
    ai = add --interactive
    co = checkout
    ci = commit
    rb = rebase
    br = branch
    st = status
    ctags = !.git/hooks/ctags
    vidiff = difftool
    vimerge = mergetool
    diffws = "diff --ignore-space-at-eol --ignore-space-change --ignore-all-space --ignore-blank-lines"
    sync = !git-sync
[init]
    templatedir = ~/.git_template
[core]
    excludesfile = ~/.gitignore_global
    editor = /usr/bin/vim
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[merge]
    tool = vimdiff
[credential]
    helper = osxkeychain
[push]
    default = simple
