[submodule "vim/.vim/bundle/syntastic"]
    path = vim/.vim/bundle/syntastic
    url = git@github.com:scrooloose/syntastic.git
[submodule "vim/.vim/bundle/vim-sensible"]
    path = vim/.vim/bundle/vim-sensible
    url = git@github.com:tpope/vim-sensible.git
[submodule "vim/.vim/bundle/matchit.zip"]
    path = vim/.vim/bundle/matchit.zip
    url = git@github.com:vim-scripts/matchit.zip.git
    ignore = untracked
[submodule "vim/.vim/bundle/vim-airline"]
    path = vim/.vim/bundle/vim-airline
    url = git@github.com:bling/vim-airline
[submodule "vim/.vim/bundle/ag.vim-upgrade"]
    path = vim/.vim/bundle/ag.vim-upgrade
    url = git@github.com:rking/ag.vim
[submodule "vim/.vim/bundle/vim-varnish"]
    path = vim/.vim/bundle/vim-varnish
    url = git@github.com:quintonparker/vim-varnish
[submodule "vim/.vim/bundle/vim-surround"]
    path = vim/.vim/bundle/vim-surround
    url = git@github.com:tpope/vim-surround.git
[submodule "vim/.vim/bundle/vim-repeat"]
    path = vim/.vim/bundle/vim-repeat
    url = git@github.com:tpope/vim-repeat
[submodule "vim/.vim/bundle/vim-unimpaired"]
    path = vim/.vim/bundle/vim-unimpaired
    url = git@github.com:tpope/vim-unimpaired
