alias ls='ls -G'
alias ll='ls -lt'
alias grep='grep --colour=always'
alias ack='ack --colour'
alias less='less -r'
alias diffsbs='diff --side-by-side --suppress-common-lines'
alias hist='history -f -D'

alias gadd='git add'
alias gco='git checkout'
alias gci='git commit -v'
alias gdi='git diff'
alias gvidi='git vidiff'
alias gvimg='git vimerge'
alias gdiws='git diffws'
alias gpu='git push'
alias gpl='git pull'
alias glg='git log --stat -p'
alias gst='git status'

eval "$(hub alias -s)"
