alias ls='ls -G'
alias grep='grep --colour=auto'
alias zgrep='zgrep --colour=auto'
alias ack='ack --colour --break --group'
alias less='less -R'
alias diffsbs='diff --recursive --side-by-side --suppress-common-lines --speed-large-files'
alias diffsbsws='diffsbs --strip-trailing-cr --ignore-blank-lines --ignore-all-space'
alias hist='history -f -D'

alias x="chmod -v +x"
alias v="vim"
alias c="clear"
alias h="cd"
alias t="tee"
alias p="pwd"
alias l='ls -ltaho'
alias f='mdfind'

alias gadd='git add'
alias gco='git co'
alias gci='git ci'
alias grb='git rb'
alias gbr='git br'
alias gdi='git diff'
alias gpu='git push'
alias gpl='git pull'
alias glg='git lg'
alias gst='git status'

alias sed='gsed'

alias pgrep='pgrep -ali'
alias watch='watch --differences'
alias which='which -a'

alias mysql='mysql --auto-vertical-output --show-warnings --prompt="\U:\d> "'

alias php-profile='php -d xdebug.profiler_enable=1'
alias php-trace='php -d xdebug.auto_trace=1'

alias vcurl='curl -H X-RHxqBZCN:Gz8czN7E'

if [[ `which hub` != "hub not found" ]]
then
    eval "$(hub alias -s)"
fi
